<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Agency</title>
</head>
<body>

<h1>Clients List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Skype</th>
        <th>Login</th>
        <th>Password</th>
        <th>Buyer</th>
        <th>Leaser</th>
        <th>Renter</th>
        <th>Seller</th>
    </tr>
    <tr th:each="client : ${clients}">
        <td th:text="${client.getId()}">ID</td>
        <td th:text="${client.getFirstName()}">Joe</td>
        <td th:text="${client.getLastName()}">Doe</td>
        <td th:text="${client.getContact().getMobileNumber()}">2-06-77</td>
        <td th:text="${client.getContact().getEmail()}">email@host.com</td>
        <td th:text="${client.getContact().getSkype()}">skype</td>
        <td th:text="${client.getLogin()}">doe</td>
        <td th:text="${client.getPassword()}">123</td>
        <td th:text="${client.isBuyer()}">true</td>
        <td th:text="${client.isLeaser()}">true</td>
        <td th:text="${client.isRenter()}">true</td>
        <td th:text="${client.isSeller()}">true</td>
    </tr>
</table>

</body>
</html>