<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Agency</title>
</head>
<body>

<h1>Facilities List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Number of Rooms</th>
        <th>Published</th>
        <th>Area</th>
    </tr>
    <tr th:each="facility : ${facilities}">
        <td th:text="${facility.getId()}">ID</td>
        <td th:text="${facility.getDescription()}">Kyiv</td>
        <td th:text="${facility.getNumberOfRooms()}">Kyivska</td>
        <td th:text="${facility.getPublishedDateTime()}">Shuhevuch</td>
        <td th:text="${facility.getTotalArea()}">789000</td>
    </tr>
</table>

</body>
</html>