<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Agency</title>
</head>
<body>

<h1>Houses List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Number of Rooms</th>
        <th>Published</th>
        <th>Area</th>
        <th>Backyard</th>
        <th>Garden</th>
    </tr>
    <tr th:each="house : ${houses}">
        <td th:text="${house.getId()}">ID</td>
        <td th:text="${house.getDescription()}">Kyiv</td>
        <td th:text="${house.getNumberOfRooms()}">Kyivska</td>
        <td th:text="${house.getPublishedDateTime()}">Shuhevuch</td>
        <td th:text="${house.getTotalArea()}">789000</td>
        <td th:text="${house.isHasBackyard()}">true</td>
        <td th:text="${house.isHasGarden()}">true</td>
    </tr>
</table>

</body>
</html>